<div class="document-parameters-wrapper">
  <button matRipple class="btn opt-btn-neutral border-0" (click)="back()">
    <span class="img-fluid pe-2"
      ><img src="/assets/icons/arrow-left.svg" alt="Trial-icon"
    /></span>
    Back
  </button>

  <div class="d-flex justify-content-between mt-4">
    <div class="param-header">
      <h4>Documents Parameter</h4>

      <p>
        Responses to these questions generate the documents and activities
        requirements.
      </p>
    </div>

    <div class="flex gap-2">
      <button class="btn btn-outline-primary" (click)="save()">Save</button>
      <button
        class="btn btn-primary ms-2"
        (click)="submit()"
        [disabled]="parameterForm.invalid"
      >
        Submit
      </button>
    </div>
  </div>

  <p class="text-danger">{{ errorMessage }}</p>

  <form [formGroup]="parameterForm">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel
        *ngFor="let member of memberDocParameters; let i = index"
        [expanded]="i === 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{
              member.familyMember.firstName + ' ' + member.familyMember.lastName
            }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div
          [formArrayName]="
            member.familyMember.firstName + '-' + member.familyMember.lastName
          "
        >
          <div *ngFor="let question of member.documentQuestions; let i = index">
            <div
              [formGroupName]="i"
              class="row d-flex align-items-center parameter-item mb-3"
            >
              <div class="col-md-8 d-flex align-items-center gap-1">
                <span class="response__avatar">{{ i + 1 }}</span>
                <span class="ms-2">{{ question.documentQuestion }}</span>
              </div>

              <div class="col-md-4">
                <mat-radio-group
                  aria-label="Select an option"
                  formControlName="isYes"
                >
                  <mat-radio-button value="true">Yes</mat-radio-button>
                  <mat-radio-button class="ms-4" value="false"
                    >No</mat-radio-button
                  >
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
