.document-parameters-wrapper {
  max-width: 60%;
  margin: 3rem auto;

  .gap-1 {
    gap: 1rem;
  }

  .param-header {
    & p {
      font-size: 0.8rem;
    }
  }

  .response {
    background-color: #f7f8f9;

    &__avatar {
      background-color: #f9f4e7;
      width: 24px;
      height: 24px;
      display: grid;
      place-content: center;
      padding: 0.6rem;
      border-radius: 50%;
    }
  }

  .parameter-item {
    border-radius: 1rem;
    border: 1px solid #e7eaee;
    display: grid;
    padding: 20px 16px;
  }
}

#document-collation {
  .document-header {
    background-color: #f9f4e7;
  }

  table {
    width: 100%;
  }

  .document-parameter-card {
    background-color: #fcfcfc;
    padding: 1.5rem;
  }

  .response {
    background-color: #f7f8f9;

    &__backBtn {
      cursor: pointer;
    }

    &__avatar {
      background-color: #fcf0f0;
      padding: 0.6rem;
      border-radius: 50%;
    }
  }

  .param-header {
    & p {
      font-size: 0.8rem;
    }
  }

  mat-tab-group {
    margin-top: 1rem !important;
  }

  .nav-tabs {
    border: none;
  }

  .nav-link {
    border-bottom: 3px solid #c0c0c0;
    font-size: 0.875rem;
    font-weight: 600;
    // border: none;
    color: #000 !important;
  }

  .nav-link.active {
    color: var(--optiva-primary-300, #3768fd) !important;
    border-bottom: 3px solid #0235cd !important;
  }

  .card {
    border-radius: 0.5rem;
    background: var(--neutral-250, #f7f8f9);

    &--p {
      font-weight: 600;
    }
  }

  .folder-status {
    & p {
      background-color: #eb5c7b;
      border-radius: 0.2rem;
      color: #fff;
      font-weight: 600;
      width: 60%;
      padding: 0.25rem 0.5rem;
    }
  }
}
