<section id="main">
  <div class="header">
    <div
      class="d-flex justify-items-center align-items-center flex-column w-100 mt-4"
    >
      <img
        src="assets/images/check-blue.svg"
        *ngIf="data.type === 'approve'"
        alt="Check"
      />
      <img
        src="assets/images/warning-2.svg"
        *ngIf="data.type !== 'approve'"
        alt="warning"
      />
      <h6 class="opt-heading-6 fw-600 mb-0 mt-2">
        {{ title }}
      </h6>
    </div>

    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <ng-container>
    <div class="amount-container mb-3">
      <div class="opt-para-1 mb-1 d-flex flex-column">
        <p>
          {{ data.type === 'approve' ? approvalQuestion : rejectionQuestion }}
        </p>
      </div>
    </div>
  </ng-container>

  <div class="cta-container">
    <button
      matRipple
      type="button"
      class="btn topbar-buttons1 opt-btn-primary-outline"
      (click)="closeDialog()"
    >
      <ng-container> No, I’ll do it later </ng-container>
    </button>

    <button
      (click)="
        approveRejectAction(data.type === 'approve' ? 'approve' : 'reject')
      "
      matRipple
      class="btn opt-btn-primary"
      [disabled]="isLoading | async"
    >
      <ng-container>
        {{ data.type === 'approve' ? 'Yes, Approve' : 'Yes, Reject' }}
      </ng-container>

      <ng-container *ngIf="isLoading | async">
        <app-button-loader></app-button-loader>
      </ng-container>
    </button>
  </div>
</section>
