<div class="content">
  <h5 class="fw-bold">
    Customize Applicant’s Documents and Activities Requirements
  </h5>

  <section class="document-header">
    <div class="row justify-content-between">
      <div class="col-md-6 p-5">
        <svg
          width="64"
          height="76"
          viewBox="0 0 64 76"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="21.6778"
            y="17.4975"
            width="35.1367"
            height="49.3273"
            rx="4.73695"
            transform="rotate(2.5 21.6778 17.4975)"
            fill="#EEEEEE"
            stroke="#EB9B00"
            stroke-width="1.35341"
          />
          <rect
            x="0.232942"
            y="14.2039"
            width="37.8435"
            height="52.0341"
            rx="6.09036"
            transform="rotate(-7.5 0.232942 14.2039)"
            fill="#FAFAFA"
            stroke="#EB9B00"
            stroke-width="1.35341"
          />
          <path
            d="M1.69881 20.1538C1.30855 17.1895 3.39523 14.4701 6.35953 14.0799L31.8028 10.7302C34.7671 10.34 37.4865 12.4266 37.8767 15.3909L38.6916 21.5804L2.51367 26.3433L1.69881 20.1538Z"
            fill="#EEEEEE"
          />
          <rect
            x="45.0391"
            y="11.5437"
            width="1.52042"
            height="5.06807"
            rx="0.76021"
            transform="rotate(82.5 45.0391 11.5437)"
            fill="#EB9B00"
          />
          <rect
            x="31.1562"
            y="3.14777"
            width="1.52042"
            height="5.06807"
            rx="0.76021"
            transform="rotate(-7.5 31.1562 3.14777)"
            fill="#EB9B00"
          />
          <rect
            x="40.0625"
            y="4.53162"
            width="1.52042"
            height="5.06807"
            rx="0.76021"
            transform="rotate(37.5 40.0625 4.53162)"
            fill="#EB9B00"
          />
          <rect
            x="6.29688"
            y="27.8902"
            width="29.3948"
            height="2.02723"
            rx="1.01361"
            transform="rotate(-7.5 6.29688 27.8902)"
            fill="#DCDCDC"
          />
          <rect
            x="7.61719"
            y="37.9393"
            width="29.3948"
            height="2.02723"
            rx="1.01361"
            transform="rotate(-7.5 7.61719 37.9393)"
            fill="#DCDCDC"
          />
          <rect
            x="8.94531"
            y="47.9902"
            width="29.3948"
            height="2.02723"
            rx="1.01361"
            transform="rotate(-7.5 8.94531 47.9902)"
            fill="#DCDCDC"
          />
          <rect
            x="6.82812"
            y="31.9111"
            width="10.6429"
            height="2.02723"
            rx="1.01361"
            transform="rotate(-7.5 6.82812 31.9111)"
            fill="#EEEEEE"
          />
          <rect
            x="8.14844"
            y="41.9601"
            width="10.6429"
            height="2.02723"
            rx="1.01361"
            transform="rotate(-7.5 8.14844 41.9601)"
            fill="#EEEEEE"
          />
          <rect
            x="9.47656"
            y="52.0091"
            width="10.6429"
            height="2.02723"
            rx="1.01361"
            transform="rotate(-7.5 9.47656 52.0091)"
            fill="#EEEEEE"
          />
        </svg>

        <p>
          To determine more specifically the documents to seek from this
          applicant, you would need to provide more info.
        </p>
        <button class="btn btn-primary" (click)="currateDocList()">
          Currate Document List
        </button>
      </div>

      <div class="col-md-4">
        <svg
          width="443"
          height="270"
          viewBox="0 0 443 270"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="100.5"
            cy="118.5"
            r="99.5"
            stroke="#201807"
            stroke-width="0.4"
          />
          <circle
            cx="261.5"
            cy="7.5"
            r="95.5"
            stroke="#201807"
            stroke-width="0.4"
          />
          <circle
            cx="388"
            cy="140"
            r="88"
            stroke="#201807"
            stroke-width="0.4"
          />
          <circle
            cx="243"
            cy="240"
            r="88"
            stroke="#201807"
            stroke-width="0.4"
          />
          <circle cx="457" cy="-39" r="88" fill="#201807" />
          <circle cx="227.5" cy="125.5" r="26.5" fill="#201807" />
        </svg>
      </div>
    </div>
  </section>
</div>
