:host {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  height: calc(100% - 2rem);
  border: 0.1rem solid #e7eaee;
  z-index: 999999;
  width: 22rem;
  margin-block: 0.5rem;
  border-radius: 13px;
  background: #fff;
  box-shadow: -1px 3px 23px -3px lightgrey;
  overflow-y: auto;

  .close {
    cursor: pointer;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    background: #fff;
    z-index: 2;
    padding-inline: 0.8rem;

    p {
      margin: 0;
    }
  }
}
