<section id="create-meeting" class="dialog-container">
  <div class="dialog-header">
    <p class="opt-heading-6 fw-600">
      {{ data.title }}
      <br />
      <small class="opt-para-1 fw-400"
        >Applicant would receive invite via the email address</small
      >
      <span>{{ DMSOfficer?.approvalEmail | lowercase }}</span>
    </p>
    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <div class="dialog-body">
    <div class="meeting-form">
      <form [formGroup]="meetingForm">
        <div class="col-12">
          <div class="input-style1">
            <label class="input-label">Meeting title</label>

            <mat-form-field appearance="outline" [style.width.%]="100">
              <input matInput formControlName="title" />

              <mat-error *ngIf="getMeetingFormControls['title'].invalid">
                <img
                  src="assets/icons/vybe_error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />

                {{ getErrorMessage('title') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>{{ data?.guestLabel }}</mat-label>
          <mat-chip-list #guestChipList aria-label="Fruit selection">
            <mat-chip
              *ngFor="let guest of guests"
              (removed)="removeGuest(guest)"
            >
              {{ guest.guestUserEmail }}
              <button matChipRemove>
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.0139 12.0139L4.47147 4.4714"
                    stroke="#64748B"
                    stroke-linecap="round"
                  />
                  <path
                    d="M12.0139 4.4714L4.47141 12.0139"
                    stroke="#64748B"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </mat-chip>

            <mat-chip>
              <button class="opt-btn-primary-clear" (click)="addGuest()">
                +
              </button>
            </mat-chip>

            <input
              formControlName="guest"
              [matChipInputFor]="guestChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            />
          </mat-chip-list>
        </mat-form-field>

        <div class="row" *ngIf="showGuestForm" [formGroup]="guestForm">
          <div class="col-3">
            <div class="input-style1">
              <label class="input-label">First Name</label>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <input matInput formControlName="guestFirstName" />
              </mat-form-field>
            </div>
          </div>

          <div class="col-3">
            <div class="input-style1">
              <label class="input-label">Last Name</label>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <input matInput formControlName="guestLastName" />
              </mat-form-field>
            </div>
          </div>

          <div class="col-3">
            <div class="input-style1">
              <label class="input-label">Email</label>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <input matInput formControlName="guestUserEmail" />
              </mat-form-field>
            </div>
          </div>

          <div class="col-2 d-grid align-items-center">
            <button
              class="btn opt-btn-primary-clear"
              matRipple
              (click)="saveGuest()"
            >
              Add
            </button>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-6">
            <div class="input-style1">
              <label class="form-label opt-caption">Date</label>
              <mat-form-field appearance="outline" [style.width.%]="100">
                <input
                  matInput
                  [ngxMatDatetimePicker]="startDate"
                  [min]="minDate"
                  formControlName="startDate"
                  readonly
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(startDate)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #startDate
                  [showSpinners]="true"
                  [showSeconds]="false"
                  [stepHour]="1"
                  [stepMinute]="1"
                  [stepSecond]="1"
                  [touchUi]="true"
                  [color]="undefined"
                  [enableMeridian]="true"
                  [disableMinute]="false"
                  [hideTime]="false"
                >
                </ngx-mat-datetime-picker>

                <mat-error *ngIf="getMeetingFormControls['startDate'].invalid">
                  <img
                    src="assets/icons/vybe_error.svg"
                    alt=""
                    class="img-fluid error-icon"
                  />
                  {{ getErrorMessage('startDate') }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-6">
            <div class="input-style1">
              <label class="input-label">Location</label>

              <mat-form-field appearance="outline" [style.width.%]="100">
                <input
                  matInput
                  placeholder="Enter Location"
                  formControlName="location"
                />

                <mat-error *ngIf="getMeetingFormControls['location'].invalid">
                  <img
                    src="assets/icons/vybe_error.svg"
                    alt=""
                    class="img-fluid error-icon"
                  />

                  {{ getErrorMessage('location') }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-12 my-3">
          <div class="input-style1">
            <label class="form-label opt-caption">Add message (optional)</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <textarea
                type="text"
                matInput
                formControlName="message"
                rows="5"
                placeholder="Enter message"
              ></textarea>

              <mat-error *ngIf="getMeetingFormControls['message'].invalid">
                <img
                  src="assets/icons/vybe_error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />

                {{ getErrorMessage('message') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="dialog-footer">
    <button
      matRipple
      class="btn opt-btn-primary-outline"
      role="button"
      (click)="closeDialog()"
    >
      Cancel
    </button>

    <button
      matRipple
      class="btn opt-btn-primary"
      role="submit"
      (click)="submit()"
      [disabled]="meetingForm.invalid"
    >
      Save & Continue
      <ng-container *ngIf="buttonLoading | async">
        <app-button-loader></app-button-loader>
      </ng-container>
    </button>
  </div>
</section>
