#new-user-category {
  .new-user-category-header {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-bottom: 1.25rem;

    .button-container {
      display: flex;
      gap: 0.75rem;
    }
  }

  .content-text {
    width: 18.125rem;
    color: var(--opt-neutral2-500);
  }

  .border {
    height: 0.0625rem;
    background-color: var(--opt-neutral-100);
    border-radius: 0.313rem;
    width: 100%;
  }

  .add-remove-container {
    // display: flex;
    // justify-content: space-between;
    cursor: pointer;

    .add-btn,
    .remove-btn {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.15rem 0.25rem;
      border-radius: 0.3125rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      p {
        font-size: 0.875rem;
        // font-weight: 600;
      }
    }
  }

  .add-btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.15rem 0.25rem;
    border-radius: 0.3125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    p {
      font-size: 0.875rem;
      // font-weight: 600;
      color: var(--opt-secondary-color-600);
    }
  }

  .toggle-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .custom-margin {
    margin-top: 1.8rem;
  }

  .device-main-container {
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition-duration: 0.4s;
      padding: 0.5rem;
      border-radius: 0.25rem;

      .left {
        display: flex;
        gap: 0.5rem;

        .text1 {
          font-size: 0.875rem;
        }

        .text2 {
          font-size: 0.75rem;
          font-style: italic;
        }
      }

      .right {
        display: flex;
        gap: 0.5rem;

        svg {
          cursor: pointer;
        }

        .remove-button {
          font-size: 0.75rem;
          font-style: italic;
          color: #d1292d;
          visibility: hidden;
          margin-right: 0.9375rem;
          cursor: pointer;
        }
      }

      &:hover {
        background-color: #f7f8f9;
        background-color: var(--opt-neutral2-50);

        .right {
          .remove-button {
            visibility: visible;
          }
        }
      }
    }
  }
}
