<div>
  <section id="view-loan">
    <div
      class="d-flex justify-content-between align-items-center border-bottom header"
    >
      <div class="d-flex gap-2">
        <p class="fw-bold">LO123688798:</p>

        <p>More Info</p>
      </div>

      <div matRipple class="close-icon-container" (click)="closeTray()">
        <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
      </div>
    </div>

    <div class="amount-section border-bottom">
      <p class="titles opt-caption">Total Amount</p>

      <p class="amount border fw-700 opt-heading-6">{{ 2000 | currency }}</p>
    </div>

    <div class="message-section border-bottom">
      <p class="titles opt-caption">{{ 'Message' | uppercase }}</p>

      <p class="opt-para-1">
        As discussed earlier today when Juniad stopped by the office
      </p>
    </div>

    <div class="payment-info-section">
      <p class="titles opt-caption">
        {{ 'Payments for this loan' | uppercase }}
      </p>
    </div>

    <div class="trials-container">
      <ul class="trials">
        <li class="trials-item d-flex justify-content-between">
          <div class="d-flex justify-content-start gap-1">
            <span class="profile-container">JA</span>

            <div class="description">
              <p class="opt-caption fw-600">
                <span>{{ 16000 | currency }}</span>
                <span class="titles"> done by</span>
                <span> Joel Asemota</span>
              </p>
              <p class="trial-timestamp">4 mins ago</p>
            </div>
          </div>

          <div role="button">
            <img
              matRipple
              src="assets/icons/sale-overview/loans/view-loan-repayment-reciept-icon.svg"
              alt="view loan repayment button"
            />
          </div>
        </li>

        <li class="trials-item d-flex justify-content-between">
          <div class="d-flex justify-content-start gap-1">
            <span class="profile-container">JA</span>

            <div class="description">
              <p class="opt-caption fw-600">
                <span>{{ 16000 | currency }}</span>
                <span class="titles"> done by</span>
                <span> Joel Asemota</span>
              </p>
              <p class="trial-timestamp">4 mins ago</p>
            </div>
          </div>

          <div role="button">
            <img
              matRipple
              src="assets/icons/sale-overview/loans/view-loan-repayment-reciept-icon.svg"
              alt="view loan repayment button"
            />
          </div>
        </li>

        <li class="trials-item d-flex justify-content-between">
          <div class="d-flex justify-content-start gap-1">
            <span class="profile-container">JA</span>

            <div class="description">
              <p class="opt-caption fw-600">
                <span>{{ 16000 | currency }}</span>
                <span class="titles"> done by</span>
                <span> Joel Asemota</span>
              </p>
              <p class="trial-timestamp">4 mins ago</p>
            </div>
          </div>

          <div role="button">
            <img
              matRipple
              src="assets/icons/sale-overview/loans/view-loan-repayment-reciept-icon.svg"
              alt="view loan repayment button"
            />
          </div>
        </li>

        <li class="trials-item d-flex justify-content-between">
          <div class="d-flex justify-content-start gap-1">
            <span class="profile-container">JA</span>

            <div class="description">
              <p class="opt-caption fw-600">
                <span>{{ 16000 | currency }}</span>
                <span class="titles"> done by</span>
                <span> Joel Asemota</span>
              </p>
              <p class="trial-timestamp">4 mins ago</p>
            </div>
          </div>

          <div role="button">
            <img
              matRipple
              src="assets/icons/sale-overview/loans/view-loan-repayment-reciept-icon.svg"
              alt="view loan repayment button"
            />
          </div>
        </li>

        <li class="trials-item d-flex justify-content-between">
          <div class="d-flex justify-content-start gap-1">
            <span class="profile-container">JA</span>

            <div class="description">
              <p class="opt-caption fw-600">
                <span>{{ 16000 | currency }}</span>
                <span class="titles"> done by</span>
                <span> Joel Asemota</span>
              </p>
              <p class="trial-timestamp">4 mins ago</p>
            </div>
          </div>

          <div role="button">
            <img
              matRipple
              src="assets/icons/sale-overview/loans/view-loan-repayment-reciept-icon.svg"
              alt="view loan repayment button"
            />
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
