<section id="manage-contact-category">
  <div class="manage-contact-category-header">
    <h6 mat-dialog-title class="opt-heading-6 fw-700 mb-0">Request Loan</h6>

    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <div class="content">
    <p>
      Request a loan on behalf of Junaid Omowunmi; loan<br />
      requested will be reviewed by the Chairman.
    </p>

    <form [formGroup]="requestLoanForm">
      <div class="text-center label-style1">Enter Loan Amount</div>

      <div class="input-style1 mb-3">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <input matInput formControlName="loanAmount" type="number" />
          <!-- <span class="content__divider">|</span> -->
        </mat-form-field>

        <label class="input-label">Add message <span>(Optional)</span></label>

        <mat-form-field appearance="outline" [style.width.%]="100">
          <textarea
            class="input-style2__text-area-input"
            matInput
            formControlName="message"
            placeholder="Enter message"
            rows="7"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="cta-container">
        <button
          matRipple
          type="button"
          class="btn opt-btn-primary-outline"
          (click)="closeDialog()"
        >
          Cancel
        </button>

        <button
          matRipple
          class="btn opt-btn-primary"
          [disabled]="requestLoanForm.invalid"
          (click)="onConfirm()"
        >
          Confirm

          <ng-container *ngIf="isLoading | async">
            <app-button-loader></app-button-loader>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</section>
