@use '../../../../../../../../../@core/styles/abstracts/media-query' as *;

#country {
  .radio-label {
    padding-right: 1.563rem;
  }

  .radio-label1 {
    padding-right: 0.3rem;
  }

  .card-section {
    background: #f7f8f9;
    border: 0.0625rem solid var(--opt-neutral-100);
    border-radius: 0.5rem;
    margin-top: 0.1rem;
    padding: 1rem 1.5rem 0rem 1.5rem;
    min-height: 100vh;
  }

  .country-list-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom: 3.563rem;

    @include opt-media-query-max(opt-xsm) {
      margin-bottom: 1.25rem;
    }

    .header-group {
      display: flex;
      gap: 2rem;
      vertical-align: top;

      .country-flag {
        width: 5rem;
      }

      .header-parent-container {
        display: flex;
        align-items: center;
      }

      .header-text-container {
        display: flex;
        gap: 0.8rem;

        .header-text {
          cursor: pointer;
        }
      }

      .new-feature-btn {
        background-color: var(--opt-primary-color-50);
        border: 1px solid var(--opt-primary-color);
        color: var(--opt-neutral-900);
      }
    }
  }

  .country-progress-grid {
    display: grid;
    grid-template-columns: 17.5rem auto;
    gap: 1.625rem;

    @include opt-media-query-max(opt-md) {
      grid-template-columns: 1fr;
    }

    .country-container {
      margin-top: 0.5rem;
      border-right: 0.0625rem solid var(--opt-neutral-100);

      .feature-container {
        .feature-list-section {
          .btn:hover {
            svg path {
              stroke: var(--opt-white);
            }
          }

          @include opt-media-query-max(opt-md) {
            padding: 0;
          }
        }

        .feature-list-card {
          padding: 0.938rem 2rem 3rem 0;
          height: 80vh;
          width: 100%; /* Ensure the drop list takes up the full width of its container */
          max-width: 100%; /* Prevent it from expanding beyond its parent */
          overflow: hidden; /* Hide any overflowing content */

          overflow-y: auto;
          overflow-x: hidden;

          .list-group-item {
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            transition: 0.25s all ease;
            cursor: pointer;
            border-color: var(--opt-neutral-100);
            min-height: 2.6875rem;
            background-color: #ffffff;
            color: black;
            width: inherit;
            white-space: nowrap; /* Prevent text from wrapping to the next line */
            overflow: hidden; /* Hide the overflow content */
            text-overflow: ellipsis;

            .name {
              margin-right: 0.7rem;
              // min-width: 9.375rem;
              width: 100%;
              overflow-x: hidden;
            }

            .count {
              border-radius: 0.3125rem;
              height: 1.5rem;
              display: inline-flex;
              justify-content: center;
              align-items: center;
            }

            .more-option {
              width: 2.25rem;
              display: none;
              background-color: #fcf0f0;
            }

            &:hover {
              .count {
                display: none;
              }

              .more-option {
                border-radius: 0.25rem;
                display: inline-flex;
              }
            }
          }

          .active-feature {
            background-color: #f7d1d2;

            .more-option {
              border-radius: 0.25rem;
              display: inline-flex;
            }

            .name {
              font-weight: 500;
            }

            .count {
              background-color: var(--opt-white);
            }
          }

          @include opt-media-query-max(opt-sm) {
            height: 25rem;
            padding: 1rem 0.5rem 2rem 0;
          }
        }

        @include opt-media-query-max(opt-sm) {
          grid-template-columns: 100%;
          overflow-y: auto;
        }
      }

      .country {
        overflow-y: scroll;
        max-height: 56.25rem;

        .country-country {
          display: flex;

          .feature-grid {
            margin: 1rem auto;
            width: 90%;
            padding: 0.563rem 1rem;
            transition: background 0.25s ease;

            border: 0.031rem solid var(--opt-primary-color-100);

            align-items: center;
            background: var(--opt-primary-color-50);
            border-radius: 0.313rem;

            .feature-name {
              font-size: 0.75rem;
              line-height: 1.25rem;
              font-weight: 400;
              color: var(--opt-neutral-900);
              margin-bottom: 0rem;

              span {
                text-decoration: underline;
                color: #0235cd;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .dashboard-menus-container {
      margin-top: 0.5rem;
      padding-bottom: 5rem;

      .card-section-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;
        padding: 1.5rem 0rem 0rem 0rem;

        .card-section-header-left {
          cursor: pointer;
        }

        .section-header-icon {
          margin-right: 0.661rem;
        }
      }

      .main-form-container {
        border: 0.0625rem solid var(--opt-neutral-100);
        background-color: #ffffff;
        border-radius: 0.5rem;
        margin-top: 1.031rem;
        padding: 1.958rem 0.958rem;

        .inner-card-header-container {
          display: flex;
          justify-content: space-between;
          color: #3e3e3e;

          .section-header-icon {
            margin-right: 0.583rem;
          }
        }

        .card-form-container {
          margin-top: 1.375rem;
        }

        .card2-form-container {
          background-color: var(--opt-neutral2-50);
          padding: 0.875rem 1rem;
          border-radius: 0.313rem;
        }

        .card2-form-divider {
          border-bottom: 1px solid var(--opt-neutral2-200);
          margin-bottom: 1.375rem;
        }

        .form-icon {
          display: flex;

          button {
            margin-top: 1.8rem;
          }
        }
      }

      .switch-container {
        font-size: 0.875rem;

        .switch-label {
          padding: 0 0.312rem 0 0.625rem;
        }
      }

      .dependant-question-container {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;

        .dependant-question-remove-button {
          display: flex;
          justify-content: flex-end;

          .inner {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            cursor: pointer;
            border: 0.063rem solid transparent;
            border-radius: 0.313rem;
            padding: 0.312rem;
            width: fit-content;

            span {
              color: #1d1d1d;
              font-weight: 600;
              font-size: 0.875rem;
            }

            &:hover {
              border: 0.063rem solid #1d1d1d;
              transition-duration: 0.3s;
            }
          }
        }

        .card2-form-divider {
          border-bottom: 0.063rem solid var(--opt-neutral2-200);
          margin-bottom: 1.375rem;
        }
      }

      .dependant-question-action-button {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        cursor: pointer;
        border: 0.063rem solid transparent;
        border-radius: 0.313rem;
        padding: 0.312rem;
        width: fit-content;

        span {
          color: #701417;
          font-weight: 600;
          font-size: 0.875rem;
        }

        &:hover {
          border: 0.063rem solid #701417;
          transition-duration: 0.3s;
        }
      }
    }
  }
}
