<div class="d-flex justify-content-between header">
  <h5>Activities</h5>
  <button class="btn opt-btn-neutral" (click)="minimizeFxn()">
    Minimize Window
  </button>
</div>

<div class="show-more-container">
  <button matRipple class="btn opt-btn-white opt-btn-with-icon">
    Show all
    <span class="img-fluid"
      ><img src="/assets/icons/arrow-down.svg" alt="dropdown-icon"
    /></span>
  </button>
</div>

<div class="activities">
  <ul class="timeline-with-icons" *ngFor="let activity of allActivities.query">
    <li class="timeline-item mb-2">
      <span *ngIf="activity.status !== 1" class="timeline-icon">
        <img src="/assets/icons/pending-marker.svg" alt="avater" />
      </span>

      <span *ngIf="activity.status === 1" class="timeline-icon">
        <img src="/assets/icons/success-check.svg" alt="avater" />
      </span>

      <div class="mb-0">
        <span class="fw-semibold">{{ activity.documentActivity }}</span>
      </div>
      <div class="my-2">
        <span *ngIf="activity.name" class="img-fluid"
          ><img
            src="/assets/icons/document-text.svg"
            alt="inprogress-rectangle"
        /></span>
        {{ activity.name }}
      </div>

      <button
        *ngIf="activity.status !== 1"
        class="btn opt-btn-neutral review-btn"
        (click)="markAsDone(activity.id)"
      >
        Mark as Done
      </button>
    </li>
  </ul>
</div>
