<ng-container *ngIf="documentPhase.phase === phasesEnum.DOCUMENT_PROCESSING">
  <div
    class="select-certification d-flex justify-content-between align-items-center p-3"
  >
    <div *ngIf="!selectDocument" class="d-flex gap-2 align-items-center">
      <div class="icon-wrapper">
        <img src="/assets/icons/document-text-blue.svg" alt="Document Text" />
      </div>

      <div>
        <h4 class="opt-para-2 fw-600 mb-0">
          Select Document for certification
        </h4>
        <small
          >Check through documents and select to duplicate documents that
          require certification for each applicant.</small
        >
      </div>
    </div>

    <div *ngIf="selectDocument" class="d-flex align-items-center gap-2">
      <div
        matRipple
        class="close-icon-container"
        (click)="selectDocument = !selectDocument"
      >
        <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
      </div>
      <p class="m-0">Cancel Selection</p>
    </div>

    <button
      class="btn btn-primary ms-2"
      (click)="selectDocument = !selectDocument"
      *ngIf="!selectDocument"
    >
      Select Documents
    </button>
    <button class="btn btn-primary ms-2" *ngIf="selectDocument">
      Confirm Selection
    </button>
  </div>

  <div *ngIf="selectDocument">
    <!-- <mat-checkbox class="table-accordion mt-4 fw-600" #checkBox (change)="$event.checked ? accordion.openAll() : accordion.closeAll()">{{ checkBox.checked ? 'Collpase': 'Expand' }} all</mat-checkbox> -->
    <mat-accordion
      class="table-accordion d-block mt-2"
      #accordion="matAccordion"
      [multi]="true"
    >
      <mat-expansion-panel *ngFor="let family of dataSource; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ family.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="family.documents">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="masterCheck($event, i)"
                color="primary"
              >
              </mat-checkbox>
            </th>

            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="singleCheck($event, row, i)"
                [checked]="row.isChecked"
                color="primary"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Document Column -->
          <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef>Document</th>
            <td mat-cell *matCellDef="let element">{{ element.document }}</td>
          </ng-container>

          <!-- Document Folder Column -->
          <ng-container matColumnDef="documentFolder">
            <th mat-header-cell *matHeaderCellDef>Document Folder</th>
            <td mat-cell *matCellDef="let element">
              {{ element.documentFolder }}
            </td>
          </ng-container>

          <!-- Last Modified Date Column -->
          <ng-container matColumnDef="lastModifiedDate">
            <th mat-header-cell *matHeaderCellDef>Last Modified Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lastModifiedDate }}
            </td>
          </ng-container>

          <!-- Last Modified By Column -->
          <ng-container matColumnDef="lastModifiedBy">
            <th mat-header-cell *matHeaderCellDef>Last Modified By</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lastModifiedBy }}
            </td>
          </ng-container>

          <!-- Version Column -->
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">{{ element.version }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="documentColumnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: documentColumnsToDisplay"
            (click)="selection.toggle(row)"
          ></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>

<ng-container
  *ngIf="
    documentPhase.phase === phasesEnum.DOCUMENT_SUPPORT ||
    documentPhase.phase === phasesEnum.DOCUMENT_AUDIT
  "
>
  <div class="row metrics" *ngIf="!viewFolderFiles">
    <div class="card card-max-height col-3">
      <div class="card-body d-flex align-items-center flex-row">
        <div class="p-2">
          <img src="/assets/icons/approved-documents.svg" alt="avater" />
        </div>

        <div class="d-flex flex-column">
          <div class="card-subtitle fw-700 mt-2">Approved Documents</div>
          <div class="fw-bolder opt-sub-heading my-1">
            {{ (documentAnalytics$ | async)?.approvedCount }}
          </div>
        </div>
      </div>
    </div>

    <div class="card card-max-height col-3">
      <div class="card-body d-flex align-items-center flex-row">
        <div class="p-2">
          <img src="/assets/icons/rejected-documents.svg" alt="avater" />
        </div>

        <div class="d-flex flex-column">
          <div class="card-subtitle fw-700 mt-2">Rejected Documents</div>
          <div class="fw-bolder opt-sub-heading my-1">
            {{ (documentAnalytics$ | async)?.rejectCount }}
          </div>
        </div>
      </div>
    </div>

    <div class="card card-max-height col-3">
      <div class="card-body d-flex align-items-center flex-row">
        <div class="p-2">
          <img src="/assets/icons/uploaded-documents.svg" alt="avater" />
        </div>

        <div class="d-flex flex-column">
          <div class="card-subtitle fw-700 mt-2">Uploaded Documents</div>
          <div class="fw-bolder opt-sub-heading my-1">
            {{ (documentAnalytics$ | async)?.completedCount }}
          </div>
        </div>
      </div>
    </div>

    <div class="card card-max-height col-3">
      <div class="card-body d-flex align-items-center flex-row">
        <div class="p-2">
          <img
            src="/assets/icons/awaiting-approval-document.svg"
            alt="avater"
          />
        </div>

        <div class="d-flex flex-column">
          <div class="card-subtitle fw-700 mt-2">
            Documents Awaiting Approval
          </div>
          <div class="fw-bolder opt-sub-heading my-1">
            {{ (documentAnalytics$ | async)?.pendingCount }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!viewFolderFiles">
    <mat-card-content>
      <div class="card-container">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel
            *ngFor="let member of familyFolders; let i = index"
            (opened)="getMemberFolders(member)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ member.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
              <p
                class="text-danger"
                *ngIf="member.folders.length < 1; else folders"
              >
                No Folder(s)
              </p>

              <ng-template #folders>
                <div class="col-md-3" *ngFor="let folder of member?.folders">
                  <!-- Corresponding Folder -->
                  <div
                    class="card"
                    (click)="getFolderFiles(folder)"
                    *ngIf="folder?.isCorresponding"
                  >
                    <img src="assets/icons/folder.svg" alt="folder" />
                    <p class="my-2 card--p">{{ folder?.folderName }}</p>

                    <div class="folder-status">
                      <p class="corresponding">Corresponding</p>
                    </div>
                  </div>

                  <!-- Alternative folder -->
                  <div
                    class="card"
                    (click)="getFolderFiles(folder)"
                    *ngIf="!folder?.isCorresponding"
                  >
                    <img src="assets/icons/folder.svg" alt="folder" />
                    <p class="my-2 card--p">{{ folder?.folderName }}</p>

                    <div class="folder-status">
                      <p class="alternate">Alternative</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
  </div>

  <!-- Files in Folder -->
  <div class="row" *ngIf="viewFolderFiles">
    <app-folder
      [documentPhase]="documentPhase"
      [folderData]="selectedFolder"
      (back)="viewFolderFiles = false"
    ></app-folder>
  </div>
</ng-container>
