#manage-department {
  .manage-department-header {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    gap: 1.25rem;
  }
}
