@use '../../../../../@core/styles/abstracts' as *;

:host {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  height: calc(100% - 2rem);
  border: 0.1rem solid #e7eaee;
  z-index: 999999;
  width: 22rem;
  margin-block: 0.5rem;
  border-radius: 13px;
  background: #fff;
  box-shadow: -1px 3px 23px -3px lightgrey;
  overflow-y: auto;

  .close {
    cursor: pointer;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    background: #fff;
    z-index: 2;
    padding-inline: 0.8rem;

    p {
      margin: 0 0.5rem;
    }
  }

  .icons-container {
    display: flex;
    margin-left: 20%;
  }

  .progress-bar {
    border-radius: 0.25rem;
    margin: 0 0.1rem;
    height: 0.5rem;
    width: 20%;
  }

  .expand {
    cursor: pointer;
  }

  .activits {
    padding: 1rem;
  }

  .timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
    margin: 1rem 1.5rem;
  }

  .timeline-with-icons .timeline-item {
    position: relative;
  }

  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -2.625rem;
    background-color: $opt-white;
    color: $opt-primary;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    border: 0.125rem solid #9fa5ac;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .review-btn {
    background-color: $opt-primary-50;
    border-color: $opt-primary;
    color: $opt-primary;
  }
}
