<div>
  <div
    class="d-flex justify-content-start align-items-center border-bottom header"
  >
    <p class="fw-bold header-text">Activities</p>
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
      class="progress-bar"
      [style.background-color]="'#1D1D1D'"
    ></mat-progress-bar>
    <p class="fw-light">{{ progressValue }}%</p>

    <div class="icons-container">
      <div matRipple class="close-icon-container" (click)="closeTray()">
        <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
      </div>
      <div class="ms-2" (click)="toggleActivities()">
        <img
          src="/assets/icons/modal-expand-icon.svg"
          alt="modal maximize icon"
        />
      </div>
    </div>
  </div>

  <div class="activities">
    <ul
      class="timeline-with-icons"
      *ngFor="let activity of allActivities.query"
    >
      <li class="timeline-item mb-2">
        <span *ngIf="activity.status !== 1" class="timeline-icon">
          <img src="/assets/icons/pending-marker.svg" alt="avater" />
        </span>

        <span *ngIf="activity.status === 1" class="timeline-icon">
          <img src="/assets/icons/success-check.svg" alt="avater" />
        </span>

        <div class="mb-0">
          <span class="fw-semibold">{{ activity.documentActivity }}</span>
        </div>
        <div class="my-2">
          <span *ngIf="activity.name" class="img-fluid"
            ><img
              src="/assets/icons/document-text.svg"
              alt="inprogress-rectangle"
          /></span>
          {{ activity.name }}
        </div>

        <button
          *ngIf="!activity.status"
          class="btn opt-btn-neutral review-btn"
          (click)="markAsDone(activity.id)"
        >
          Mark as Done
        </button>
      </li>
    </ul>
  </div>
</div>
