<div
  class="d-flex justify-content-center align-items-center flex-column opt-dialog main-dialog"
>
  <img src="/assets/icons/done-blue-colour.svg" />
  <div
    class="d-flex justify-content-center align-items-center flex-column mt-1"
  >
    <p class="fw-bold">Mark as Done</p>
    <p class="text-center">
      Ensure every requirements of this activity has been completed
    </p>
  </div>
</div>

<div class="d-flex justify-content-between">
  <button class="btn opt-btn-primary-light opt-btn-md" (click)="cancel()">
    Cancel
  </button>
  <button class="btn opt-btn-primary opt-btn-md" (click)="markAsDone()">
    Confirm
  </button>
</div>
