<p class="opt-heading-6 fw-700">Replace Document</p>
<p class="fw-500">Replacing this document versions the existing one</p>

<div
  class="upload-wrapper"
  (click)="fileInputRef.click()"
  *ngIf="!isFileUploaded"
>
  <img src="/assets/icons/upload.svg" alt="upload-icon" />

  <p>
    Click here to upload proof of payment from local storage or
    <span>drop a file here</span>.
  </p>

  <input
    type="file"
    style="display: none"
    #fileInputRef
    (change)="uploadFile($event)"
  />
</div>

<div class="uploaded-wrapper" *ngIf="isFileUploaded">
  <img src="/assets/icons/document.svg" alt="upload-icon" />

  <p class="fw-600">
    {{ replacedFile?.name }}

    <br />
    <small>{{ fileSize }} MB</small>
  </p>

  <button matRipple class="btn btn-danger border-0" (click)="removeFile()">
    Remove
  </button>
</div>

<div class="d-flex justify-content-between mt-3">
  <button matRipple class="btn opt-btn-primary-outline" (click)="cancel()">
    Cancel
  </button>

  <button
    matRipple
    class="btn btn-primary"
    [disabled]="!isFileUploaded"
    (click)="replaceDocument()"
  >
    Confirm
  </button>
</div>
