.upload-wrapper {
  border: 1px dashed #100303;
  background-color: #fcf0f0;
  border-radius: 0.5rem;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  p {
    text-align: center;
  }

  span {
    color: #80171a;
  }
}

.uploaded-wrapper {
  border: 1px dashed #100303;
  border-radius: 0.5rem;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
