.resetpassword-message {
  // min-width: 30rem;
  background-color: var(--opt-white);
  position: absolute;
  top: 5rem;
  left: 50%;
  // transform: translate(-50, -50%);
  transform: translateX(-50%);

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 28.69rem;

    .optiva-logo {
      margin-top: 3.375rem;
    }

    .email-img {
      margin-top: 5.25rem;
      margin-bottom: 3rem;
    }

    .text {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      text-align: center;
    }

    .link {
      color: var(--opt-primary-color);
    }
  }
}
