.select-certification {
  background-color: var(--opt-primary-color-50);
  border-radius: 8px;

  .icon-wrapper {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
  }
}

.dowload-btn {
  background-color: #ebf0ff;
  border-color: #0235cd;
  color: #0235cd;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.zero-padding {
  padding: 0;
}

.table-accordion ::ng-deep.mat-expansion-panel-body {
  padding: 0 !important;
  margin-top: -1.5rem;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-expansion-panel-spacing {
  margin-bottom: 0;
}
