<!-- *ngIf="documentPhase.phase === phasesEnum.DOCUMENT_AUDIT" -->
<ng-container>
  <div
    class="select-certification d-flex justify-content-between align-items-center p-3"
    *ngIf="confirmDocumentList.length > 0"
  >
    <div class="d-flex align-items-center gap-2">
      <div matRipple class="close-icon-container" (click)="cancelSelections()">
        <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
      </div>
      <p class="m-0">Cancel Selection</p>
    </div>

    <div class="d-flex gap-2">
      <button class="btn dowload-btn" (click)="downloadSelected()">
        Download
      </button>

      <button
        class="btn btn-danger"
        (click)="rejectSelected()"
        *ngIf="permissionService.hasPermission('Reject Document')"
      >
        Reject Selected
      </button>

      <button
        class="btn btn-primary"
        (click)="approveSelected()"
        *ngIf="permissionService.hasPermission('Approve Document')"
      >
        Approve Selected
      </button>

      <button
        class="btn btn-primary"
        (click)="submit('hod')"
        *ngIf="permissionService.hasPermission('Send to HOD DAO')"
      >
        Submit to HOD DAO
      </button>

      <button
        class="btn btn-primary"
        (click)="submit('partner')"
        *ngIf="permissionService.hasPermission('Send to Partner')"
      >
        Send to Partner
      </button>
    </div>
  </div>

  <div>
    <div class="row">
      <div
        [ngClass]="{
          'col-lg-12': !viewFileData,
          'col-lg-8 col-md-7': viewFileData
        }"
      >
        <!-- <mat-checkbox class="table-accordion mt-4 fw-600" #checkBox (change)="$event.checked ? accordion.openAll() : accordion.closeAll()">{{ checkBox.checked ? 'Collpase': 'Expand' }} all</mat-checkbox> -->
        <mat-accordion
          class="table-accordion d-block mt-2"
          #accordion="matAccordion"
          [multi]="true"
        >
          <mat-expansion-panel *ngFor="let family of dataSource; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ family.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table mat-table [dataSource]="family.documents">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="masterCheck($event, i)"
                    color="primary"
                  >
                  </mat-checkbox>
                </th>

                <td mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="singleCheck($event, row, i)"
                    [checked]="row.isChecked"
                    color="primary"
                  >
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Document Column -->
              <ng-container matColumnDef="documentName">
                <th mat-header-cell *matHeaderCellDef>Document</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.familyMemberDocument.documentName }}
                </td>
              </ng-container>

              <!-- Document Folder Column -->
              <ng-container matColumnDef="folderName">
                <th mat-header-cell *matHeaderCellDef>Document Folder</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.folderName }}
                </td>
              </ng-container>

              <!-- Last Modified Date Column -->
              <ng-container matColumnDef="lastModifiedDate">
                <th mat-header-cell *matHeaderCellDef>Last Modified Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lastModifiedDate }}
                </td>
              </ng-container>

              <!-- Last Modified By Column -->
              <ng-container matColumnDef="lastModifiedBy">
                <th mat-header-cell *matHeaderCellDef>Last Modified By</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.lastModifiedBy }}
                </td>
              </ng-container>

              <!-- Version Column -->
              <ng-container matColumnDef="documentVersion">
                <th mat-header-cell *matHeaderCellDef>Version</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.familyMemberDocument.documentVersion }}
                </td>
              </ng-container>

              <!-- Comments Column -->
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef>Comments</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.comment }}
                </td>
              </ng-container>

              <!-- Next Actor Column -->
              <ng-container matColumnDef="nextOfficer">
                <th mat-header-cell *matHeaderCellDef>Next Actor</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nextOfficer }}
                </td>
              </ng-container>

              <!-- Status -->
              <ng-container matColumnDef="documentStatusDesc">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.documentStatusDesc }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="documentColumnsToDisplay"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: documentColumnsToDisplay"
                (click)="viewFileDetails(row)"
              ></tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- File Details -->
      <div class="col-lg-4 col-md-5" *ngIf="viewFileData" @slideInRight>
        <app-file-details
          [documentPhase]="documentPhase"
          [fileData]="fileData"
          [fileExtension]="fileExt"
          (collapse)="viewFileData = false"
        ></app-file-details>
      </div>
    </div>
  </div>
</ng-container>
