<mat-dialog-content>
  <section id="new-user-category">
    <div class="new-user-category-header">
      <h6 class="opt-heading-6 fw-700 mb-0">User Information</h6>

      <div matRipple class="close-icon-container" (click)="closeDialog()">
        <img
          src="/assets/icons/modal-close-icon.svg"
          class="img-fluid"
          alt="modal close icon"
        />
      </div>
    </div>

    <div class="user-info">
      <div class="img-container">
        <img src="/assets/images/female-avatar.svg" alt="avater/svg" />
      </div>

      <h6 class="opt-heading-6 fw-700 mb-3 mt-4">Junaid Omowunmi</h6>

      <div class="img-text mb-2">
        <img src="/assets/icons/email-icon.svg" alt="email-icon/svg" />
        <p class="opt-para-1">junaidomowunmi@gmail.com</p>
      </div>

      <div class="img-text">
        <img src="/assets/icons/telephone-icon.svg" alt="email-icon/svg" />
        <p class="opt-para-1">+234 906 7665 319</p>
      </div>
    </div>

    <div class="user-desc">
      <div class="coloured-container">
        <div class="coloured-bg">
          <p class="opt-para-1">Roles: Super admin</p>
        </div>
        <img src="/assets/icons/rectangle.svg" alt="" />
        <div class="coloured-bg">
          <p class="opt-para-1">Division: Super admin</p>
        </div>
      </div>

      <div class="coloured-container">
        <div class="coloured-bg">
          <p class="opt-para-1">Department: Super admin</p>
        </div>
        <img src="/assets/icons/rectangle.svg" alt="" />
        <div class="coloured-bg">
          <p class="opt-para-1">Unit: Super admin</p>
        </div>
      </div>

      <div class="coloured-bg">
        <p class="opt-para-1">Status: Super admin</p>
      </div>
    </div>

    <div class="devices-content">
      <div class="d-flex justify-content-end">
        <p class="opt-para-2 fw-700">Devices</p>
        <p class="opt-caption">Maximum devices allowed (5)</p>
      </div>

      <div class="devices">
        <img src="/assets/icons/phone-icon.svg" alt="" />
        <div class="text">
          <p class="opt-para-1">Iphone XSMax</p>
          <p class="caption">Last logged in: Sept 31, 2022</p>
        </div>
      </div>
    </div>
  </section>
</mat-dialog-content>
