<div>
  <p class="opt-heading-6 fw-700">Send to Partners</p>
  <p class="fw-500">
    Are you sure these documents are ready to be sent to partner? If so, select
    partner(s) to send documents to.
  </p>

  <div class="partner-list">
    <div *ngFor="let partner of partners$ | async" class="partner-item">
      <mat-checkbox
        color="primary"
        (change)="togglePartnersCheck($event, partner)"
      ></mat-checkbox>

      <img [src]="partner.branch?.companyLogo" alt="Company Logo" />
      <p>{{ partner?.name }}</p>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <button matRipple class="btn opt-btn-primary-outline" (click)="close()">
      No, Cancel
    </button>

    <button matRipple class="btn btn-primary" (click)="confirm()">
      Confirm
    </button>
  </div>
</div>
