:host {
  position: fixed;
  right: 0.5rem;
  top: 3.5rem;
  height: 90%;
  border: 0.1rem solid var(--opt-neutral-200);
  z-index: 3;
  width: 22rem;
  margin-block: 0.5rem;
  border-radius: 13px;
  background: var(--opt-white);
  box-shadow: -1px 3px 23px -3px var(--opt-neutral-200);
  overflow-y: auto;

  .close {
    cursor: pointer;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    background: var(--opt-white);
    z-index: 2;
    padding-inline: 0.8rem;

    p {
      margin: 0;
    }
  }

  .add-comment {
    margin-block: 0.5em;
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--opt-neutral-100);

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }

  .comments {
    .comment {
      padding: 0.3rem;
      border-bottom: 1px solid var(--opt-neutral-200);
      margin-bottom: 1rem;

      .comment-by {
        display: flex;
        justify-content: space-between;
        align-items: start;

        .more-options {
          img {
            width: 1rem;
          }
        }

        img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
      }
    }
  }
}
