<div id="table-loader">
  <div class="ph-item">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-12 mt-0 background"></div>
        <div class="ph-col-12 mt-0 background"></div>
        <div class="ph-col-12 mt-0 background"></div>
        <div class="ph-col-12 mt-0 background"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-4 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-2 round background"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-4 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-2 round background"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-4 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-2 round background"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-4 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-2 round background"></div>
      </div>

      <div class="ph-row item">
        <div class="ph-col-2 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-4 round background"></div>
        <div class="ph-col-2 empty background"></div>
        <div class="ph-col-2 round background"></div>
      </div>
    </div>
  </div>
</div>
