<mat-dialog-content>
  <section id="manage-contact-category">
    <div class="manage-contact-category-header">
      <div>
        <h6 class="opt-heading-6 fw-600 mb-0">
          <ng-container *ngIf="data.type === 'edit'">Edit</ng-container>
          <ng-container *ngIf="data.type === 'create'">Create</ng-container>
          Family Member Type Settings
        </h6>
      </div>

      <div matRipple class="close-icon-container" (click)="closeDialog()">
        <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
      </div>
    </div>

    <form [formGroup]="createFamilyMemberForm" (ngSubmit)="onSubmit()">
      <div class="input-style1 mb-1">
        <label class="input-label input-required">Family Member Name</label>

        <mat-form-field appearance="outline" [style.width.%]="100">
          <input matInput placeholder="Enter name" formControlName="name" />
          <mat-error *ngIf="createFamilyFormControls['name'].invalid">
            <img
              src="/assets/icons/error.svg"
              alt=""
              class="img-fluid error-icon"
            />
            {{ getErrorMessage('name') }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-style1 flex-inputs mb-1">
        <div class="inputs-items">
          <label class="input-label input-required">Family Member Type</label>

          <mat-form-field appearance="outline" [style.width.rem]="10">
            <mat-select
              formControlName="familyMemberType"
              placeholder="Select Type"
            >
              <mat-option
                [value]="type.value"
                *ngFor="let type of familyMemberTypeList"
              >
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="createFamilyFormControls['familyMemberType'].invalid"
            >
              <img
                src="/assets/icons/error.svg"
                alt=""
                class="img-fluid error-icon"
              />
              {{ getErrorMessage('familyMemberType') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="inputs-items">
          <label class="input-label input-required">Family Group</label>

          <mat-form-field appearance="outline" [style.width.rem]="10">
            <mat-select formControlName="familyGroup">
              <mat-option
                [value]="type.value"
                *ngFor="let type of familyMemberGroupList"
              >
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createFamilyFormControls['familyGroup'].invalid">
              <img
                src="/assets/icons/error.svg"
                alt=""
                class="img-fluid error-icon"
              />
              {{ getErrorMessage('familyGroup') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="input-style1 flex-inputs mb-1">
        <div class="inputs-items">
          <label class="input-label input-required">Country</label>

          <mat-form-field appearance="outline" [style.width.rem]="10">
            <mat-select formControlName="countryId">
              <mat-option
                [value]="country.id"
                *ngFor="let country of countryList"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createFamilyFormControls['countryId'].invalid">
              <img
                src="/assets/icons/error.svg"
                alt=""
                class="img-fluid error-icon"
              />
              {{ getErrorMessage('countryId') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="inputs-items">
          <label class="input-label input-required">Maximum Allowed</label>

          <mat-form-field appearance="outline" [style.width.rem]="10">
            <input
              matInput
              placeholder="00"
              type="number"
              formControlName="maximumAllowed"
            />
            <mat-error
              *ngIf="createFamilyFormControls['maximumAllowed'].invalid"
            >
              <img
                src="/assets/icons/error.svg"
                alt=""
                class="img-fluid error-icon"
              />
              {{ getErrorMessage('maximumAllowed') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="cta-container footer-button">
        <button
          matRipple
          type="button"
          class="btn opt-btn-primary-outline"
          (click)="closeDialog()"
        >
          Cancel
        </button>

        <button
          matRipple
          class="btn opt-btn-primary"
          [disabled]="
            createFamilyMemberForm.invalid || (isLoading | async) !== false
          "
        >
          <ng-container *ngIf="data.type === 'edit'">Save</ng-container>
          <ng-container *ngIf="data.type === 'create'">Create</ng-container>
          <ng-container *ngIf="(isLoading | async) !== false">
            <app-button-loader></app-button-loader>
          </ng-container>
        </button>
      </div>
    </form>
  </section>
</mat-dialog-content>
