@use '../../../../../../../../@core/styles/abstracts' as *;

:host {
  position: fixed;
  right: 0.5rem;
  top: 3.5rem;
  height: 90%;
  border: 0.1rem solid #e7eaee;
  z-index: 3;
  width: 22rem;
  margin-block: 0.5rem;
  border-radius: 13px;
  background: #fff;
  box-shadow: -1px 3px 23px -3px lightgrey;
  overflow-y: auto;

  .close {
    cursor: pointer;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    background: #fff;
    z-index: 2;
    padding-inline: 0.8rem;

    p {
      margin: 0;
    }
  }

  .history {
    ul {
      padding-left: 1.1875rem !important;
    }
  }

  .timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }

  .timeline-with-icons .timeline-item {
    position: relative;
  }

  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -31px;
    background-color: $opt-white;
    color: $opt-primary;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 2px solid #9fa5ac;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .text-content {
  //   display: flex;
  //   //flex-direction: column;
  //   justify-content: space-between;
  //   // gap: 2rem;

  //   .icon-text {
  //     display: flex;
  //     gap: 0.75rem;

  //     .circle-abbreviate {
  //       // padding: 0.375rem;
  //       background: $opt-warning-400;
  //       border-radius: 50%;
  //       min-width: 2.5rem;
  //       min-height: 2.5rem;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       // background: #ebf0ff;
  //       // border: 1px solid #011142;
  //       // border-radius: 50%;

  //       p {
  //         margin-bottom: 0rem;
  //         color: $opt-white;
  //         font-size: 0.825rem;
  //       }
  //     }
  //   }

  //   .quote-text {
  //     display: flex;
  //     align-items: center;
  //     gap: 0.875rem;
  //   }

  //   .audit-trial {
  //     .list-section {
  //       margin-left: 1rem !important;
  //     }
  //   }
  // }
}
