@use '../../../@core/styles/abstracts' as *;

:host {
  ::ng-deep .mat-date-range-input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 14px;
  }

  ::ng-deep.mat-date-range-input {
    width: 65%;
  }

  ::ng-deep .mat-date-range-input-start-wrapper {
    text-align: end;
  }

  ::ng-deep .mat-date-range-input-end-wrapper {
    text-align: start;
  }
}

.show-more-container {
  // padding: 1rem;
  background-color: var(--opt-neutral-50);
  border: 1px solid var(--opt-neutral2-100);
  height: 2rem;
  // width: 8.75rem;
}

#loans {
  .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.5rem;

    &__first {
      background-color: var(--opt-primary-color-400);
      color: #fff;
    }

    &__text {
      color: var(--opt-neutral2-500);
    }
  }

  .request-loan {
    & h3 {
      font-weight: 600;
    }

    & button {
      background-color: var(--opt-primary-color-400);
      border-radius: 0.5rem;
    }
  }

  th,
  td {
    padding: 0.5rem;
    text-align: left;

    & .status {
      color: var(--opt-success-100);
      background-color: #effdec;
      padding: 0.4rem;
      border-radius: 0.5rem;
    }

    & div {
      color: var(--opt-primary-color-400);
      font-size: 0.875rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  th {
    background-color: #f5f5f5;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .active {
    color: var(--opt-primary-color-400);
    background-color: var(--opt-primary-color-50);
    border-radius: 0.5rem;
  }

  .inactive {
    color: var(--opt-neutral-500);
    background-color: var(--opt-neutral-100);
    border-radius: 0.5rem;
  }

  .no-pointer {
    cursor: default !important;
  }

  .loan-btn {
    border: none;
    color: var(--opt-primary-color);
    background: transparent;
    font-weight: 600;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .action-text {
    color: var(--opt-primary-color-400);
    margin-right: 3rem;

    &.disabled {
      color: var(--opt-neutral-500);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
