<section id="branch">
  <div class="px-2">
    <div class="row img-name">
      <div class="col-md-1 d-flex justify-content-center">
        <div class="profile-picture-section">
          <div class="profile-picture-container">
            <img [src]="headOfficeInfo?.companyLogo" alt="No Logo" />
          </div>

          <input
            #logoUpload
            type="file"
            accept="image/*"
            name=""
            class="d-none"
          />
        </div>
      </div>

      <div class="col-md-10 d-flex justify-content-start align-items-center">
        <div class="address">
          <div class="info-content1">
            <p class="opt-caption fw-700 info-title">Head Office Address</p>
            <p class="opt-caption">
              {{ headOfficeInfo?.address_Building }},
              {{ headOfficeInfo?.address_Street }},
              {{ headOfficeInfo?.address_State }},
              {{ headOfficeInfo?.address_Country }},
            </p>
          </div>

          <div class="info-content">
            <p class="opt-caption fw-700 info-title">Phone Number</p>
            <p class="opt-caption">
              +{{ headOfficeInfo?.contactNumberCountryCode
              }}{{ headOfficeInfo?.contactNumber }}
            </p>
          </div>

          <div class="info-content">
            <p class="opt-caption fw-700 info-title">Email Address</p>
            <p class="opt-caption">{{ headOfficeInfo?.email }}</p>
          </div>

          <div class="info-content">
            <p class="opt-caption fw-700 info-title">Website</p>
            <p class="opt-caption">{{ headOfficeInfo?.website }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-1 d-flex justify-content-center">
        <button
          matRipple
          class="btn opt-btn-primary-outline"
          (click)="onCreateHeadOffice('update', headOfficeInfo)"
        >
          Edit
        </button>
      </div>
    </div>
  </div>

  <div class="list-section">
    <mat-tab-group>
      <mat-tab label="All Locations">
        <div class="branch-header">
          <h6 class="opt-heading-6 fw-700 mb-0">Location</h6>

          <div class="table-controls">
            <div class="input-style1 input-no-error">
              <mat-form-field appearance="outline" [style.width.%]="100">
                <span matPrefix class="img-fluid">
                  <img src="/assets/icons/search.svg" alt="icon" />
                </span>

                <input
                  matInput
                  [(ngModel)]="searchInputParam"
                  (ngModelChange)="onInputSearch()"
                  placeholder="Search branch's list"
                />
              </mat-form-field>
            </div>

            <button matRipple class="btn opt-btn-neutral opt-btn-with-icon">
              <span class="img-fluid"
                ><img src="/assets/icons/filter-icon.svg" alt="filter-icon"
              /></span>
              Filters
            </button>

            <button
              matRipple
              class="btn opt-btn-primary"
              [disabled]="this.permissions1[1] === false"
              (click)="
                this.permissions1[1] === false
                  ? null
                  : onCreateEditBranch('create', null)
              "
            >
              Create Location
            </button>
          </div>
        </div>

        <ng-container *ngIf="Auth1 === true">
          <ng-container *ngIf="dataSource !== null; else noTableData">
            <div class="table-responsive">
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                      color="primary"
                      (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()"
                    >
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox
                      color="primary"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                    >
                    </mat-checkbox>
                  </td>
                </ng-container> -->

                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Branch name
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="country">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Country
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.address_Country }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="zipCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    City
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row.address_State }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Created Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{ row?.createdDate | date }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="createdByEmail">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Created By
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span
                      [matTooltip]="row?.createdByEmail"
                      matTooltipPosition="below"
                      matTooltipClass="custom-tooltip"
                    >
                      {{ row?.createdByEmail?.substring(0, 16) + '...' }}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="lastModifiedDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Last Modified Date
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span
                      class="d-flex justify-content-start align-items-center"
                      [ngClass]="{
                        'ms-3': row.lastModifiedDate === 0
                      }"
                    >
                      {{
                        row.lastModifiedDate !== 0
                          ? (row.lastModifiedDate | date)
                          : '-'
                      }}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="lastModifiedByEmail">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Last Modified By
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span
                      class="d-flex justify-content-start align-items-center"
                      [ngClass]="{
                        'ms-3': row.lastModifiedByEmail === null
                      }"
                    >
                      <span
                        [matTooltip]="row?.createdByEmail"
                        matTooltipPosition="below"
                        matTooltipClass="custom-tooltip"
                      >
                        {{
                          row.lastModifiedByEmail !== null
                            ? row.lastModifiedByEmail?.substring(0, 16) + '...'
                            : '-'
                        }}
                      </span>
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="statusDesc">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <span
                      [ngClass]="{
                        'status-active': row.status === 1,
                        'status-inactive': row.status === 2 || row.status === 3
                      }"
                    >
                      {{ row.statusDesc }}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Actions
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div class="table-cta-container">
                      <div
                        class="cta-container"
                        matRipple
                        matTooltip="edit"
                        matTooltipPosition="above"
                        matTooltipClass="custom-tooltip"
                        (click)="
                          this.permissions1[2] === false
                            ? null
                            : onCreateEditBranch('update', row)
                        "
                      >
                        <img src="/assets/icons/edit.svg" alt="view icon" />
                      </div>

                      <div class="toggle-container">
                        <mat-slide-toggle
                          matTooltipPosition="above"
                          matTooltipClass="custom-tooltip"
                          *ngIf="this.permissions2[3]"
                          [matTooltip]="
                            row.status === 1 ? 'Deactivate' : 'Activate'
                          "
                          [checked]="row.status === 1 ? 'true' : 'false'"
                          (toggleChange)="
                            onChangeBranchStatus(row.id, row.statusDesc)
                          "
                        >
                        </mat-slide-toggle>
                      </div>

                      <div>
                        <span class="ml-4">
                          <img
                            alt="More"
                            src="assets/icons/more-icon.svg"
                            [matMenuTriggerFor]="menu"
                          />
                          <mat-menu #menu="matMenu">
                            <ng-container>
                              <button
                                mat-menu-item
                                [disabled]=""
                                (click)="openDeleteModal(row, 'Branch')"
                              >
                                Delete Branch
                              </button>
                            </ng-container>
                          </mat-menu>
                        </span>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No matching data"</td>
                </tr>
              </table>
            </div>

            <mat-paginator
              [pageSizeOptions]="[
                10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
                90, 95, 100
              ]"
              showFirstLastButtons
              [pageSize]="10"
              [hidePageSize]="false"
              [length]="totalRecords"
              (page)="onPaginationChange($event)"
            ></mat-paginator>
          </ng-container>

          <ng-template #noTableData>
            <app-table-loader></app-table-loader>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="Auth1 === false">
          <h6 class="opt-heading-6 fw-700 mb-0">
            You are not authorized to view this
          </h6>
        </ng-container>
      </mat-tab>

      <mat-tab label="Bank Accounts">
        <div class="branch-header">
          <h6 class="opt-heading-6 fw-700 mb-0">Bank Accounts</h6>

          <div class="table-controls">
            <div class="input-style1 input-no-error">
              <mat-form-field appearance="outline" [style.width.%]="100">
                <span matPrefix class="img-fluid">
                  <img src="/assets/icons/search.svg" alt="icon" />
                </span>

                <input
                  matInput
                  [(ngModel)]="searchInputParam1"
                  (ngModelChange)="onInputSearch1()"
                  placeholder="Search bank accounts"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <ng-container *ngIf="Auth2 === true">
          <div class="general-cards-container row">
            <div class="col-md-3">
              <div
                matRipple
                class="card-container first-card"
                (click)="
                  this.permissions2[1] === false
                    ? null
                    : openCreateOrEditAccount('create', null)
                "
              >
                <div class="add-bank">
                  <img src="./assets/icons/add-bank.svg" alt="add-bank-img" />

                  <p class="opt-para-1">Add Bank Account</p>
                </div>
              </div>
            </div>

            <div
              class="col-md-3"
              *ngFor="
                let bankAccount of !this.searchInputParam1
                  ? allBankAccounts
                  : selectedBankAccounts
              "
            >
              <div class="card-container other-cards">
                <div class="d-flex justify-content-between">
                  <div class="bank-info">
                    <div
                      class="d-flex justify-content-center align-items-center mb-4"
                    >
                      <!-- <img
                        src="/assets/icons/america-flag.png"
                        alt="flag.png"
                      /> -->
                      <h5 class="opt-heading-5 fw-700">
                        {{ bankAccount.bankName }}
                      </h5>
                    </div>
                    <p class="opt-para-2 fw-600 mb-3">
                      {{ bankAccount.accountNumber }}
                    </p>

                    <p class="opt-para-1 fw-600">
                      {{ bankAccount.beneficiaryName }}
                    </p>
                  </div>

                  <div>
                    <img
                      src="/assets/icons/more-vertical.svg"
                      alt="more-option"
                      class="icon-toggle"
                      [matMenuTriggerFor]="menu"
                    />

                    <!-- menu section -->

                    <mat-menu
                      #menu="matMenu"
                      class="feature-menu"
                      xPosition="before"
                      yPosition="below"
                    >
                      <ul class="list-group feature-menu-list">
                        <li class="list-group-item1">
                          <div class="opt-caption">
                            Status:
                            <span
                              [ngClass]="{
                                'status-active':
                                  bankAccount.statusDesc === 'Active',
                                'status-inactive':
                                  bankAccount.statusDesc === 'Deactivated'
                              }"
                              >{{ bankAccount.statusDesc }}</span
                            >
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div
                            matRipple
                            class="item-holder"
                            (click)="
                              openCreateOrEditAccount('update', bankAccount)
                            "
                          >
                            <span class="opt-para-1"> Edit </span>
                          </div>
                        </li>

                        <li class="list-group-item">
                          <div
                            matRipple
                            class="item-holder"
                            (click)="
                              onChangeBankStatus(
                                bankAccount.id,
                                bankAccount.statusDesc
                              )
                            "
                          >
                            <span class="opt-para-1">
                              {{
                                bankAccount.status === 1
                                  ? 'Deactivate'
                                  : 'Activate'
                              }}
                            </span>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div
                            matRipple
                            class="item-holder"
                            (click)="openDeleteModal(bankAccount, 'Bank')"
                          >
                            <span class="opt-para-1"> Delete </span>
                          </div>
                        </li>
                      </ul>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="Auth2 === false">
          <h6 class="opt-heading-6 fw-700 mb-0">
            You are not authorized to view this
          </h6>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
