<section id="view-task">
  <div class="task-header">
    <p class="opt-para-2 fw-700">Task</p>
    <span (click)="close()" matRipple role="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M18.0209 18.0208L6.7072 6.70711"
          stroke="#64748B"
          stroke-linecap="round"
        />
        <path
          d="M18.0208 6.70711L6.70712 18.0208"
          stroke="#64748B"
          stroke-linecap="round"
        />
      </svg>
    </span>
  </div>

  <p class="opt-para-1 fw-600">Task Description</p>
  <p class="opt-caption fw-400 describe description">
    {{ task.title }}
  </p>

  <div class="py-2">
    <div class="task-detail">
      <p class="opt-para-1 fw-600">Assigned To</p>
      <p class="description opt-caption">{{ task.assignedToName }}</p>
    </div>

    <div class="task-detail">
      <p class="opt-para-1 fw-600">Due Date</p>
      <p class="description opt-caption">{{ task.dueDate | date : 'short' }}</p>
    </div>

    <div class="task-detail">
      <p class="opt-para-1 fw-600">Date Created</p>
      <p class="description opt-caption">
        {{ task.createdDate | date : 'short' }}
      </p>
    </div>

    <div class="task-detail">
      <p class="opt-para-1 fw-600">Created By</p>
      <p class="description opt-caption">{{ task.createdByName }}</p>
    </div>
  </div>

  <div class="close">
    <button class="btn opt-btn-primary" (click)="close()">Close</button>
  </div>
</section>
