<ng-container *ngIf="isLoading | async">
    <div class="general-loader-container webapp-view">
      <div class="general-loader-backdrop"></div>
      <div class="general-loader-content">
        <app-general-loader></app-general-loader>
      </div>
    </div>
  </ng-container>
  
  <div class="" id="sale-dashboard">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-between pb-4 header pt-1 border-bottom"
    >
      <div
        class="d-flex align-items-center mb-2 mb-md-0 text-dark text-decoration-none z-index-2"
      >
        <span class="fw-bolder">{{
          (applicant$ | async)?.fullName | titlecase
        }}</span>
        <span class="px-2 ms-2 status rounded">
            <!-- {{
            saleOverviewRef?.getCurrentPhase.phase?.replace('-', ' ') ||
            'Onboarding' | titlecase }} -->
        </span>
      </div>
  
      <div class="text-end d-flex">
        <button
          matRipple
          class="btn opt-btn-neutral border-0 me-2"
          (click)="toggleAction('comments')"
        >
          <span class="img-fluid pe-2"
            ><img src="/assets/icons/message-text.svg" alt="filter-icon"
          /></span>
          Comments
        </button>
        <button
          matRipple
          class="btn opt-btn-neutral border-0 me-2"
          (click)="toggleAction('trail')"
        >
          <span class="img-fluid pe-2"
            ><img src="/assets/icons/routing-2.svg" alt="filter-icon"
          /></span>
          Trail
        </button>
        <button
          matRipple
          class="btn opt-btn-neutral border-0"
          (click)="toggleAction('activities')"
        >
          <span class="img-fluid pe-2"
            ><img src="/assets/icons/clock.svg" alt="Trial-icon"
          /></span>
          Activities
        </button>
      </div>
    </header>
  
    <section>
      <div class="sale-tabs">
          <mat-tab-group
          mat-align-tabs="center"
          [selectedIndex]="activeTabIndex"
          (selectedIndexChange)="changeTab($event)"
          #tabs
          >
          <mat-tab label="Overview" routerLinkActive #rla1="routerLinkActive">
            <ng-template matTabContent>
              <app-sale-overview
                [applicant]="applicant$ | async"
                (routeTabs)="routeTab($event)"
                #salesOverview
              ></app-sale-overview>
            </ng-template>
          </mat-tab>
  
          <mat-tab label="Documents" routerLinkActive #rla2="routerLinkActive">
            <ng-template matTabContent>
              <!-- <app-sale-documents [extras]="extras"></app-sale-documents> -->
            </ng-template>
          </mat-tab>
  
          <mat-tab label="Loans" routerLinkActive #rla2="routerLinkActive">
            <ng-template matTabContent>
              <!-- <app-sale-loans></app-sale-loans> -->
            </ng-template>
          </mat-tab>
  
          <mat-tab label="Notes" routerLinkActive #rla2="routerLinkActive">
            <ng-template matTabContent>
              <!-- <app-sale-notes></app-sale-notes> -->
            </ng-template>
          </mat-tab>
  
          <mat-tab label="Activities" routerLinkActive #rla2="routerLinkActive">
            <!-- <app-activities-fullscreen
              [applicationId]="applicationId"
              (minimize)="toggleActivities($event)"
            ></app-activities-fullscreen> -->
          </mat-tab>
  
          <mat-tab label="Invoices" routerLinkActive #rla2="routerLinkActive">
            <ng-template matTabContent>
              <!-- <app-sale-invoices></app-sale-invoices> -->
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </div>
  
  <ng-container [ngSwitch]="salesActions">
    <!-- <app-comments
      *ngSwitchCase="'comments'"
      @slideInOutFromRight
      (closeComments)="toggleAction('comments')"
    ></app-comments>
  
    <app-trail
      *ngSwitchCase="'trail'"
      @slideInOutFromRight
      (closeTrail)="toggleAction('trail')"
    ></app-trail>
  
    <app-activities
      *ngSwitchCase="'activities'"
      @slideInOutFromRight
      [applicationId]="applicationId"
      (closeActivities)="toggleAction('activities')"
      (minimizeActivities)="toggleActivities($event)"
    ></app-activities>
  
    <app-view-sale-loans
      *ngSwitchCase="'loan'"
      @slideInOutFromRight
      (closeLoan)="toggleAction('loan')"
    ></app-view-sale-loans> -->
  </ng-container>
  