<section id="main">
  <div class="header">
    <div>
      <h6 class="opt-heading-6 fw-600 mb-0">Edit Task</h6>
    </div>

    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <form [formGroup]="editTaskForm">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="input-style1">
            <label class="form-label opt-caption">Task Title</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <textarea
                type="text"
                matInput
                rows="5"
                formControlName="title"
                placeholder="Enter message"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-style1">
            <label class="form-label opt-caption">Assign To</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <input
                type="text"
                matInput
                formControlName="assignedTo"
                placeholder="Enter Name"
                [matAutocomplete]="auto"
                mat
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [autoActiveFirstOption]="false"
                (optionSelected)="onUserSelected($event); changed = true"
              >
                <mat-option
                  *ngFor="let user of filteredUsers | async"
                  [value]="user"
                >
                  {{ user.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-style1">
            <label class="form-label opt-caption">Date</label>

            <mat-form-field appearance="outline" [style.width.%]="100">
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dueDate"
                [min]="minDate"
                readonly
                placeholder="Due Date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="cta-container">
      <button
        matRipple
        type="button"
        class="btn opt-btn-primary-outline"
        (click)="closeDialog()"
      >
        Cancel
      </button>

      <button (click)="updateTask()" matRipple class="btn opt-btn-primary">
        Save Changes
        <ng-container *ngIf="buttonLoading | async">
          <app-button-loader></app-button-loader>
        </ng-container>
      </button>
    </div>
  </form>
</section>
