.family-form-wrapper {
  max-width: 70%;
  margin: 3rem auto;

  .gap-1 {
    gap: 1rem;
  }

  .param-header {
    & p {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 425px) {
  .family-form-wrapper {
    max-width: 100%;
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 768px) {
  .family-form-wrapper {
    max-width: 80%;
    margin: 1rem auto;
  }
}
