<section id="main">
  <div class="mb-4">
    <div class="card-body text-center">
      <img
        src="/assets/icons/info-circle-warn.svg"
        alt="avatar"
        class="rounded-circle img-fluid"
      />
      <h6 class="fw-600 mb-1 mt-3">
        Are you sure you want to delete this note?
      </h6>
      <p class="text-muted header opt-para-1 mb-3">
        You can click “Ctrl + Z” or “Cmd + Z” to undo this decision.
      </p>
    </div>
  </div>

  <div class="cta-container">
    <button
      matRipple
      type="button"
      class="btn opt-btn-primary-outline"
      (click)="closeDialog(false)"
    >
      Cancel
    </button>

    <button
      matRipple
      class="btn opt-btn-primary delete-note-btn"
      (click)="closeDialog(true)"
    >
      Delete
    </button>
  </div>
</section>
