<section id="manage-department">
  <div class="manage-department-header">
    <div class="text-content">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="opt-para-2 fw-700 mb-0">Change Your Profile Photo</h6>
      </div>
    </div>

    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <form [formGroup]="profileForm">
    <div class="profile-picture-text d-flex">
      <div class="profile-picture-section me-3">
        <div class="profile-picture-container">
          <img
            [src]="logoPreview"
            alt="Profile Picture"
            (click)="logoUpload.click()"
          />
        </div>

        <!-- <input #logoUpload type="file" accept="image/*" name="" class="d-none" /> -->
        <!-- (change)="onUploadLogo($event)" -->
      </div>

      <div class="img-text-container">
        <div class="img-text d-flex" (click)="logoUpload.click()">
          <input
            #logoUpload
            type="file"
            accept="image/*"
            name=""
            class="d-none"
            (change)="onUploadLogo($event)"
          />
          <div>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.50613 14.6673H11.4928C13.3328 14.6673 14.0661 13.5407 14.1528 12.1673L14.4995 6.66065C14.5928 5.22065 13.4461 4.00065 11.9995 4.00065C11.5928 4.00065 11.2195 3.76732 11.0328 3.40732L10.5528 2.44065C10.2461 1.83398 9.44613 1.33398 8.76613 1.33398H7.23946C6.55279 1.33398 5.75279 1.83398 5.44613 2.44065L4.96613 3.40732C4.77946 3.76732 4.40613 4.00065 3.99946 4.00065C2.55279 4.00065 1.40613 5.22065 1.49946 6.66065L1.84613 12.1673C1.92613 13.5407 2.66613 14.6673 4.50613 14.6673Z"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7 5.33398H9"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.00065 11.9993C9.19398 11.9993 10.1673 11.026 10.1673 9.83268C10.1673 8.63935 9.19398 7.66602 8.00065 7.66602C6.80732 7.66602 5.83398 8.63935 5.83398 9.83268C5.83398 11.026 6.80732 11.9993 8.00065 11.9993Z"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <p class="opt-para1 ms-2 mb-0">Upload image</p>
        </div>

        <div class="img-text d-flex">
          <div>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 3.98763C11.78 3.76763 9.54667 3.6543 7.32 3.6543C6 3.6543 4.68 3.72096 3.36 3.8543L2 3.98763"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M5.66602 3.31398L5.81268 2.44065C5.91935 1.80732 5.99935 1.33398 7.12602 1.33398H8.87268C9.99935 1.33398 10.086 1.83398 10.186 2.44732L10.3327 3.31398"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12.5669 6.09375L12.1336 12.8071C12.0603 13.8537 12.0003 14.6671 10.1403 14.6671H5.86026C4.00026 14.6671 3.94026 13.8537 3.86693 12.8071L3.43359 6.09375"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.88672 11H9.10672"
                stroke="#1D1D1D"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.33398 8.33398H9.66732"
                stroke="#292D32"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <p class="opt-para1 ms-2 mb-0">Remove image</p>
        </div>
      </div>
    </div>

    <div class="btn-group">
      <div>
        <button
          type="button"
          matRipple
          class="btn opt-btn-primary-outline opt-btn-md"
          (click)="closeDialog()"
        >
          Cancel
        </button>
      </div>

      <div>
        <button
          type="submit"
          matRipple
          class="btn opt-btn-primary opt-btn-md"
          (click)="editProfilePicture()"
          [disabled]="profileForm.invalid || (isLoading | async) !== false"
        >
          Save Changes

          <ng-container *ngIf="(isLoading | async) !== false">
            <app-button-loader></app-button-loader>
          </ng-container>
        </button>
      </div>
    </div>
  </form>
</section>
