#sale-notes {
  /* .ql-container.ql-snow {
    border-width: 1px 0px 1px 0px !important;
  } */

  .delete-note-btn {
    background-color: var(--opt-secondary-color-100);
    border-color: var(--opt-secondary-color-400);
    color: var(--opt-secondary-color-400);
  }

  .new-note-btn {
    background-color: var(--opt-primary-color-50);
    border-color: var(--opt-primary-color-400);
    color: var(--opt-primary-color-400);
  }

  .note-list {
    max-height: 32rem;
    overflow-y: auto;
    scrollbar-gutter: stable;

    .card {
      border: 0px;
      cursor: pointer;
      gap: 0.8rem;

      .card-body {
        background-color: var(--opt-neutral-50);
        max-height: 12rem;
        overflow: hidden;

        .note-body {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .more-options {
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 50%;
          display: grid;
          place-content: center;
          padding: 10px;
        }
      }
    }
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 0px;
  }

  .ql-toolbar.ql-snow {
    border: 0px solid var(--opt-neutral-200) !important;
    /* border-right: 1px solid #ccc !important; */
    border-bottom: 1px solid var(--opt-neutral-200) !important;
    /* border-top: 1px solid #ccc !important; */
  }

  .ql-editor {
    height: 500px !important;
  }

  .invisible {
    visibility: hidden;
  }
}
