:host {
  position: fixed;
  right: 0.5rem;
  top: 3.5rem;
  height: 90%;
  border: 0.1rem solid var(--opt-neutral-200);
  z-index: 3;
  width: 22.5rem;
  margin-block: 0.5rem;
  border-radius: 13px;
  background: var(--opt-white);
  box-shadow: -1px 3px 23px -3px var(--opt-neutral-200);
  overflow-y: auto;

  .close {
    cursor: pointer;
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    background: var(--opt-white);
    z-index: 2;
    padding-inline: 0.8rem;

    p {
      margin: 0;
    }
  }

  .content {
    padding-inline: 1rem;

    p {
      margin: 0;
    }

    .schedule-links {
      text-align: center;
      margin: 0 auto;
      display: flex;
      place-content: center;
      gap: 0.6rem;
    }

    .loan-wrapper {
      width: fit-content;
      background-color: var(--opt-neutral-50);
      display: grid;
      place-content: center;
      padding: 0.6rem;
      margin: 0 auto;
      border-radius: 5px;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .activity {
      ul {
        padding-left: 1.1875rem !important;
      }
    }

    .timeline-with-icons {
      border-left: 2px solid var(--opt-primary-color);
      position: relative;
      list-style: none;
    }

    .timeline-with-icons .timeline-item {
      position: relative;
    }

    .timeline-with-icons .timeline-item:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .timeline-with-icons .timeline-icon {
      position: absolute;
      left: -30px;
      color: var(--opt-primary-color);
      background-color: var(--opt-primary-color-50);
      border-radius: 50%;
      height: 20px;
      width: 20px;
      border: 2px solid var(--opt-primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .timeline-text {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    .summary {
      border: 1px solid var(--opt-neutral-100);
      border-radius: 8px;
      padding: 1rem;

      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8rem;
      }
    }

    .action-btns {
      display: flex;
      justify-content: space-between;
    }

    .upload-wrapper {
      border: 1px dashed #100303;
      background-color: #fcf0f0;
      border-radius: 0.5rem;
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-block: 0.8rem;

      p {
        text-align: center;
      }

      span {
        color: #80171a;
      }
    }
  }
}
