<div id="folder-panel-loader">
  <div class="ph-item">
    <div class="ph-col-12">
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-10 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-8 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-6 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-10 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-6 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-10 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-8 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-6 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-10 item"></div>
      </div>
      <div class="ph-row mb-4">
        <div class="ph-col-2 caret item"></div>
        <div class="ph-col-6 item"></div>
      </div>
    </div>
  </div>
</div>
