:host {
  margin-top: 2rem;

  // .nav-tabs {
  //   border: none;
  // }

  // .nav-link {
  //   border-bottom: 3px solid #c0c0c0;
  //   font-size: 0.875rem;
  //   font-weight: 600;
  //   // border: none;
  //   color: #000 !important;
  // }

  // .nav-link.active {
  //   color: var(--optiva-primary-300, #3768fd) !important;
  //   border-bottom: 3px solid #0235cd !important;
  // }

  .card-container {
    .card {
      border: 0;
      background: #f7f8f9;
      width: 15.25rem;
      height: 7.9rem;
      padding: 1.5rem;
      cursor: pointer;

      &--p {
        font-weight: 600;
      }

      img {
        width: 1.5rem;
      }
    }
  }

  .folder-status {
    & p {
      border-radius: 0.2rem;
      color: #fff;
      font-weight: 600;
      width: 60%;
      padding: 0.25rem 0.5rem;
    }

    & .corresponding {
      background-color: #eb5c7b;
    }

    & .alternate {
      background-color: #a01fe4;
    }
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .metrics {
    .card-max-height {
      max-height: 37.5rem;
    }

    .card {
      border: 0;

      .card-body {
        border: 1px solid var(--opt-neutral-100) !important;
        border-radius: 1rem;
      }

      .card-subtitle {
        color: var(--opt-neutral-600);
        font-weight: var(--fw-700);
      }

      .card-link {
        cursor: pointer;
        color: var(--opt-para-1);
        color: var(--opt-primary);
      }
    }
  }
}
