<section id="create-meeting" class="dialog-container">
  <div class="dialog-header">
    <p class="opt-heading-6 fw-600">
      {{ !meeting ? 'Add New Meeting' : 'Edit Meeting' }}
      <br />
      <small class="fw-400">{{ data.subTitle }}</small>
    </p>
    <div matRipple class="close-icon-container" (click)="closeDialog()">
      <img src="/assets/icons/modal-close-icon.svg" alt="modal close icon" />
    </div>
  </div>

  <div class="dialog-body">
    <div class="meeting-form">
      <form [formGroup]="meetingForm">
        <div class="col-12">
          <div class="input-style1">
            <label class="input-label">Meeting title</label>

            <mat-form-field appearance="outline" [style.width.%]="100">
              <input matInput formControlName="title" />

              <mat-error *ngIf="getMeetingFormControls['title'].invalid">
                <img
                  src="assets/icons/vybe_error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />

                {{ getErrorMessage('title') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <label class="input-label">Require Guest (s)</label>

          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-chip-grid #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let user of requiredUserList"
                (removed)="removeRequiredGuest(user)"
              >
                {{ user }}
                <button matChipRemove>
                  <img
                    src="assets/icons/general/chips-cancel-icon.svg"
                    alt="Cancel Icon"
                  />
                </button>
              </mat-chip>
              <input
                placeholder="guest..."
                #userInput
                formControlName="guest"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addRequiredGuest($event)"
              />
            </mat-chip-grid>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event, false)"
            >
              <mat-option
                *ngFor="let user of filteredUser | async"
                [value]="user"
              >
                {{ user.email }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error
            *ngIf="
              (meetingForm.get('guest')!.invalid &&
                meetingForm.get('guest')?.touched) ||
              (meetingForm.get('guest')!.invalid && submitClicked)
            "
            class="guest-error"
          >
            <img
              src="assets/icons/vybe_error.svg"
              alt=""
              class="img-fluid error-icon"
            />

            {{ getErrorMessage('guest') }}
          </mat-error>
        </div>

        <div class="row mt-2">
          <label class="input-label">Optional Guest (s)</label>

          <mat-form-field class="example-chip-list" appearance="outline">
            <mat-chip-grid #optionalList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let user of optionalUserList"
                (removed)="removeOptionalGuest(user)"
              >
                {{ user }}
                <button matChipRemove>
                  <img
                    src="assets/icons/general/chips-cancel-icon.svg"
                    alt="Cancel Icon"
                  />
                </button>
              </mat-chip>
              <input
                placeholder="optional..."
                #optionalInput
                [formControl]="optionalGuestCtrl"
                [matAutocomplete]="autoOptional"
                [matChipInputFor]="optionalList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addOptionalGuest($event)"
              />
            </mat-chip-grid>
            <mat-autocomplete
              #autoOptional="matAutocomplete"
              (optionSelected)="selected($event, true)"
            >
              <mat-option
                *ngFor="let user of filteredUserOptional | async"
                [value]="user"
              >
                {{ user.email }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div class="row mt-2">
          <div class="col-12 col-md-6">
            <div class="input-style1">
              <label class="form-label opt-caption">Start date</label>
              <mat-form-field appearance="outline" [style.width.%]="100">
                <input
                  matInput
                  [ngxMatDatetimePicker]="startDate"
                  [min]="minDate"
                  formControlName="startDate"
                  readonly
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(startDate)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #startDate
                  [showSpinners]="true"
                  [showSeconds]="false"
                  [stepHour]="1"
                  [stepMinute]="1"
                  [stepSecond]="1"
                  [touchUi]="true"
                  [color]="undefined"
                  [enableMeridian]="true"
                  [disableMinute]="false"
                  [hideTime]="false"
                >
                </ngx-mat-datetime-picker>

                <mat-error *ngIf="getMeetingFormControls['startDate'].invalid">
                  <img
                    src="assets/icons/vybe_error.svg"
                    alt=""
                    class="img-fluid error-icon"
                  />
                  {{ getErrorMessage('startDate') }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="input-style1">
              <label class="form-label opt-caption">End date</label>
              <mat-form-field appearance="outline" [style.width.%]="100">
                <input
                  matInput
                  [ngxMatDatetimePicker]="endDate"
                  [min]="getMeetingFormControls['startDate'].value"
                  formControlName="endDate"
                  readonly
                  [disabled]="getMeetingFormControls['startDate'].invalid"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="$any(endDate)"
                ></mat-datepicker-toggle>
                <ngx-mat-datetime-picker
                  #endDate
                  [showSpinners]="true"
                  [showSeconds]="false"
                  [stepHour]="1"
                  [stepMinute]="1"
                  [stepSecond]="1"
                  [touchUi]="true"
                  [color]="undefined"
                  [enableMeridian]="true"
                  [disableMinute]="false"
                  [hideTime]="false"
                >
                </ngx-mat-datetime-picker>

                <mat-error *ngIf="getMeetingFormControls['startDate'].invalid">
                  <img
                    src="assets/icons/vybe_error.svg"
                    alt=""
                    class="img-fluid error-icon"
                  />
                  {{ getErrorMessage('startDate') }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="input-style1">
            <label class="form-label opt-caption">Duration</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <input
                type="number"
                matInput
                formControlName="duration"
                placeholder="hours"
              />

              <mat-error *ngIf="getMeetingFormControls['duration'].invalid">
                <img
                  src="assets/icons/vybe_error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />

                {{ getErrorMessage('duration') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-12">
          <div class="input-style1">
            <label class="form-label opt-caption">Meeting Type</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <mat-select formControlName="meetingType">
                <mat-option
                  [value]="meeting.value"
                  *ngFor="let meeting of meetingTypeList"
                >
                  <span>{{ meeting.name }}</span>
                </mat-option>
              </mat-select>

              <mat-error *ngIf="meetingFormControls['meetingType'].invalid">
                <img
                  src="/assets/icons/error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />
                {{ getErrorMessage('meetingType') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12 mt-2">
          <label class="form-label opt-caption">Attachment </label>
          <input
            type="file"
            formControlName="attachment"
            #fileInput
            [style.display]="'none'"
            (change)="onFileSelected($event)"
          />
          <div
            class="col-12 open-file"
            type="button"
            (click)="fileInput.click()"
            *ngIf="!fileInfo.name"
          >
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path
                  d="M6.16484 6.07496L4.92984 7.30996C4.24484 7.99496 4.24484 9.09996 4.92984 9.78496C5.61484 10.47 6.71984 10.47 7.40484 9.78496L9.34984 7.83996C10.7148 6.47496 10.7148 4.25496 9.34984 2.88996C7.98484 1.52496 5.76484 1.52496 4.39984 2.88996L2.27984 5.00996C1.10984 6.17996 1.10984 8.07996 2.27984 9.25496"
                  stroke="#A0ABBB"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span class="opt-caption">click here to add attachment</span>
          </div>
        </div>

        <div class="col-12" *ngIf="fileInfo.name">
          <div class="opened-file opt-caption">
            <span>
              <img
                src="assets/icons/sale-overview/meeting/pdf-icon.svg"
                alt=""
              />
            </span>
            <span class="fw-600">{{ fileInfo.name }}</span>
            <span *ngIf="fileInfo.size">{{ fileInfo.size }}</span>
            <span
              role="button"
              class="opt-caption remove-file"
              (click)="clearFile()"
              >remove</span
            >
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="input-style1">
            <label class="input-label">Location</label>

            <mat-form-field appearance="outline" [style.width.%]="100">
              <input
                matInput
                placeholder="Enter Location"
                formControlName="location"
              />

              <mat-error *ngIf="getMeetingFormControls['location'].invalid">
                <img
                  src="assets/icons/vybe_error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />

                {{ getErrorMessage('location') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12 my-3">
          <div class="input-style1">
            <label class="form-label opt-caption">Add message (optional)</label>
            <mat-form-field appearance="outline" [style.width.%]="100">
              <textarea
                type="text"
                matInput
                formControlName="message"
                rows="5"
                placeholder="Enter message"
              ></textarea>

              <mat-error *ngIf="getMeetingFormControls['message'].invalid">
                <img
                  src="assets/icons/vybe_error.svg"
                  alt=""
                  class="img-fluid error-icon"
                />

                {{ getErrorMessage('message') }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="dialog-footer">
    <button
      matRipple
      class="btn opt-btn-primary-outline"
      role="button"
      (click)="closeDialog()"
    >
      Cancel
    </button>

    <button
      matRipple
      *ngIf="!meeting"
      class="btn opt-btn-primary"
      role="submit"
      (click)="formMode === 'create' ? submit() : updateMeeting()"
      [disabled]="meetingForm.invalid"
    >
      {{ formMode === 'create' ? 'Create' : 'Update' }} Meeting

      <ng-container *ngIf="buttonLoading | async">
        <app-button-loader></app-button-loader>
      </ng-container>
    </button>

    <button
      *ngIf="meeting"
      matRipple
      class="btn opt-btn-primary"
      role="submit"
      (click)="updateMeeting()"
      [disabled]="meetingForm.invalid"
    >
      Update Meeting

      <ng-container *ngIf="buttonLoading | async">
        <app-button-loader></app-button-loader>
      </ng-container>
    </button>
  </div>
</section>
