// @use 'src/app/@core/styles/abstracts/typography' as *;
@use '../../../../../@core/styles/abstracts' as *;

#sale-overview {
  .cursor-pointer {
    cursor: pointer;
  }

  .card-max-height {
    max-height: 37.5rem;
  }

  .card {
    border-color: $opt-neutral2-100 !important;
    border-radius: 1rem;
    min-height: 8.125rem;

    .card-subtitle {
      color: var(--opt-neutral2-600);
      font-weight: var(--fw-700);
    }

    .card-link {
      @extend .cursor-pointer;
      color: var(--opt-para-1);
      color: $opt-primary;
    }
  }

  .list-wrapper {
    max-height: 32rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  .more-info-btn {
    margin-right: 1rem;
    background-color: $opt-primary-100 !important;
    border: 1px solid $opt-primary-100;
    color: $opt-primary;
  }

  .phase {
    border: 1px solid $opt-primary-100;
    color: $opt-neutral-900;
    border-radius: 0.625rem;
    padding: 0.875rem;
    margin-bottom: 1.0625rem;

    & .phase-status {
      width: 1rem;
      height: 1rem;
      border-radius: 0.3rem;
      display: inline-block;

      &.started {
        background-color: $opt-success-50;
      }

      &.completed {
        background-color: $opt-success-50;
      }

      &.undone {
        background-color: #ececec;
      }
    }

    &.started,
    &.inprogress {
      background-color: #fff1d6;
      border-color: #eb9b00;
    }

    &.completed {
      background-color: #effdec;
      border-color: #29bf12;
    }

    &.undone {
      border-color: $opt-neutral2-100;
    }
  }

  .activity {
    ul {
      padding-left: 1.1875rem !important;
    }
  }

  .timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }

  .timeline-with-icons .timeline-item {
    position: relative;
  }

  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -31px;
    background-color: $opt-white;
    color: $opt-primary;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 2px solid #9fa5ac;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-content {
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    // gap: 2rem;

    .icon-text {
      display: flex;
      gap: 0.75rem;

      .circle-abbreviate {
        // padding: 0.375rem;
        background: $opt-warning-400;
        border-radius: 50%;
        min-width: 2.5rem;
        min-height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #ebf0ff;
        // border: 1px solid #011142;
        // border-radius: 50%;

        p {
          margin-bottom: 0rem;
          color: $opt-white;
          font-size: 0.825rem;
        }
      }
    }

    .quote-text {
      display: flex;
      align-items: center;
      gap: 0.875rem;
    }

    .audit-trial {
      .list-section {
        margin-left: 1rem !important;
      }
    }
  }

  .note {
    .circle-abbreviate {
      // padding: 0.375rem;
      background: $opt-primary-200;
    }

    .link {
      color: $opt-primary;
    }
  }

  .review-btn {
    background-color: $opt-primary-50;
    border-color: $opt-primary;
    color: $opt-primary;
  }

  .note-wrapper {
    max-height: 10rem;
    overflow: hidden;

    .note-body {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .meetings {
    max-height: 37rem;
    margin-top: 1rem;
    overflow-y: auto;
    padding-right: 0.5rem;
    width: 100%;

    .meeting {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
      padding: 1rem 1rem;
      background: #fef7e6;
      margin-top: 0.8rem;
      border-radius: 0.7rem;
      width: 100%;

      &:hover .meeting-menu {
        display: block;

        @include opt-media-query-max(opt-sm) {
          display: block;
        }
      }

      .meeting-menu {
        display: none;

        @include opt-media-query-max(opt-sm) {
          display: block;
        }
      }

      &-container {
        border-radius: 0.7rem;
        width: 100%;
      }

      &-avatar {
        margin-bottom: 0.5rem;
        display: flex;
        margin-left: 0.3rem;

        .avatar {
          border-radius: 50%;
          border: 0.063rem solid #fff;
          height: 1.8rem;
          width: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.5rem;
          background: #ffcef6;
          margin-left: -0.4rem;
        }
      }

      .location {
        margin: 0;
        padding: 0;
        margin-top: 0.4rem;
      }
    }
  }

  .timeframe {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

hr {
  opacity: 0.1;
}
